@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-layout-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

.extra-section {
    height: 100px;
}

/* Main header at top of page */
.main-header {
    background-color: #F8FFF8;
    padding: 20px;

    grid-area: 1 / 2 / 2 / 3;
}

/*      toolbar */
.toolbar {
    height: 20%;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 1.5fr;
    align-items: flex-start;
    gap: 10px;    

}

svg.search-icon {
    fill: #2F4858;
}

.search-bar {
    min-width: 100px;
    height: 50%;
    margin-top: 5px;

    background-color: #befcc3;
    border: none;
    border-radius: 20px;
}

svg.bell-icon {
    fill: #2F4858;
}

.small-profile-picture {
    width: 50px;
    height: 50px;
    border: 2px solid whitesmoke;
    border-radius: 50%;

    justify-self: end;
}

.profile-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;

    color: #2F4858;
    padding-top: 10px;
    padding-right: 10px;

    justify-self: center;
}

/*      lower-section */
.lower-section {
    height: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

/*          profile-section */
.profile-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.large-profile-picture {
    min-height: 70px;
    min-width: 70px;
    height: 100px;
    width: 100px;
    border-radius: 50%;

    justify-self: center;
}

.greeting {
    color: #003D0A;
    font-size: 1rem;
}

.hero-profile-name {
    color: #003D0A;
    font-size: 1.25rem;
    font-weight: 600;
}

.username {
    font-style: italic;
}

/*          button-section */
.button-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.button-section > button {
    min-width: 80%;
    min-height: 5%;
    padding: 10%;
    border-radius: 20px;
    border: none;
    
    font-size: 1rem;
    font-weight: 600;
    background-color: #42A59C;
    color: #ffffff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Side bar on left side of page */
.sidebar {
    background-color: #63AB6F;

    grid-area: 1 / 1 / 3 / 2;
}

.sidebar-wrapper {
    height: 60%;
    padding: 10px;

    display: grid;
    grid-template-rows: 10% 40% 20%;
    gap: 5%;
}

.sidebar-wrapper svg,
.sidebar-wrapper p {
    /* for SVGs */
    fill: white;
    
    /* for Ps */
    color: rgb(255, 255, 255);
}

/*      sidebar header section */
.sidebar-header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.sidebar-header > .dashboard-icon {
    height: 50px;
    width: 50px;
}

.sidebar-header > p {
    font-size: 1.5rem;
    font-weight: 600;
    justify-self: start;
}

/*      sidebar main links section */
.main-links {
    display: grid;
    gap: 10px;
}

.main-links > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.main-links svg {
    height: 30px;
    width: 30px;
    justify-self: center;
}

/*      utilities links section*/

.utilities-links {
    display: grid;
    gap: 10px;
}

.utilities-links > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.utilities-links svg {
    height: 30px;
    width: 30px;
    justify-self: center;
}

/* main content */
.main-content {
    background-color: #d3f9d6;
    padding: 20px;

    grid-area: 2 / 2 / 3 / 3;
}

/*  main content grid */
.main-content-grid {
    margin-top: 10px;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.your-projects-grid {
    grid-area: 1 / 1 / 3 / 2;
}

.announcements-grid {
    grid-area: 1 / 2 / 2 / 3;
}

.trending-grid {
    grid-area: 2 / 2 / 3 / 3;
}

/*  your projects section */
.your-projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2.5% repeat(auto-fit, minmax(25px, 1fr));
    grid-auto-flow: row;
    gap: 2.5%;
}

.your-projects-heading {
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 700;
    grid-area: 1 / 1 / 2 / 3;
}

.your-projects-grid > article {
    height: 100%;
    width: 100%;

    background-color: #F8FFF8;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px gray;
}

.article-content-wrapper {
    height: 100%;
    width: 100%;
    padding: 10px;

    display: grid;
    grid-template-rows: 70% 20%;
    gap: 10px;
}

.article-text-wrapper {
    padding: 10px;
}

.article-text-wrapper > h2 {
    color: #003D0A;
    margin-bottom: 5px;
}

.article-text-wrapper > p {
    font-size: 0.8rem;
}

.article-links-wrapper {
    width: 50%;

    justify-self: end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
    grid-auto-flow: column;
    justify-items: end;
}

.article-links-wrapper > svg {
    fill: #003D0A;
}

/*  announcements section */
.announcements-grid {
    display: grid;
    grid-template-rows: 1fr 9fr;
    gap: 2.5%;
}

.announcements-wrapper {
    background-color: #F8FFF8;
    box-shadow: 0px 2px 2px 0px gray;
    display: grid;

    border-radius: 10px;
}

.announcements-heading {
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: 700;

    background-color: #d3f9d6;
}

.announcement-1 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.announcement-3 {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.announcements-grid article {
    background-color: #F8FFF8;
}

.announcements-grid div.wrapper {
    padding: 30px;
    margin: auto;
}

.announcements-grid > article > p {
    font-size: 0.8rem;
}

.announcements-grid h4 {
    margin-bottom: 5px;
}

.divider-line {
    width: 70%;
    border: 1px solid gainsboro;
}

.divider-wrapper {
    justify-self: center;
    width: 100%;
    background-color: #F8FFF8;

    display: flex;
    justify-content: center;
}


/*  trending section */

.trending-section {
    height: 100%;
    /* margin-top: 10%; */

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

.trending-heading {
    font-size: 1.8rem;
    font-family: 'Roboto';
    font-weight: 700;

    grid-area: 1 / 1 / 2 / 3;
}

.trending-grid {
    box-shadow: 3px 3px 5px 0px rgba(176,176,176,1);
    border-radius: 5px;

    grid-area: 2 / 1 / 3 / 3;

    display: grid;
    gap: 2.5%;
}

.trending-grid > div.items-wrapper {
    height: 100%;
}

.trending-grid > div.items-wrapper > div {
    height: 25%;
    background-color: #F8FFF8;

    display: flex;
    justify-content: center;
    align-items: center;
}

.trending-grid > div.items-wrapper > div:nth-of-type(1) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.trending-grid > div.items-wrapper > div:nth-of-type(4) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.trending-grid div.content-wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 5%;
}

.trending-grid div.content-wrapper p {
    font-size: 15px;
}

.trending-grid div.content-wrapper img {
    height: 60px;
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
    justify-self: center;
}

.trending-grid div.content-wrapper > p:nth-of-type(1) {
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
}

.trending-grid div.content-wrapper > p:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 3;
}




.trending-grid img {
    height: 50px;
    border-radius: 50%;
}


