* {
    margin: 0;
    padding: 0;
}

.layout-grid-container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

/* Main header at top of page */
.main-header {
    background-color: lightblue;
    grid-area: 1 / 2 / 2 / 3;
    padding: 20px;
}

/*      toolbar */
.toolbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    margin-bottom: 10px;
}

.search-icon {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.search-bar {
    border: 1px solid darkblue;
    width: 100px;
    padding: 10px;
}

.bell-icon {
    border: 1px solid yellow;
    width: 30px;
    height: 30px;
}

.profile-picture {
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.profile-name {
    font-size: 1.5rem;
}

/*      profile-section */
.profile-section {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.large-profile-picture {
    background-color: purple;
    height: 70px;
    width: 70px;
}

.greeting {
    font-size: 1.5rem;
}

.hero-profile-name {
    font-size: 2rem;
}

.username {
    font-style: italic;
}

/*      button-section */

.new-button {
    
}

.upload-button {

}

.share-button {
}



.lower-section > button {
    width: 100px;
    /* height: 50px; */
    padding: 5px;
    border-radius: 3px;
    border: none;
}


/* side bar on left side of page */
.sidebar {
    background-color: gainsboro;
    grid-area: 1 / 1 / 3 / 2;
}


/* main content area with content cards */
.main-content {
    background-color: goldenrod;
    grid-area: 2 / 2 / 3 / 3;
}
