* {
    margin: 0;
    padding: 0;
}

.layout-grid-container {
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

/* Main header at top of page */
.main-header {
    background-color: lightblue;
    padding: 20px;

    grid-area: 1 / 2 / 2 / 3;
}

/*      toolbar */
.toolbar {
    border: 1px solid blue;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    gap: 10px;
    
}

.search-icon {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.search-bar {
    border: 1px solid darkblue;
    min-width: 100px;
}

.bell-icon {
    border: 1px solid yellow;
    width: 30px;
    height: 30px;
}

.profile-picture {
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.profile-name {
    font-size: 1.5rem;
}

/*      lower-section */
.lower-section {
    border: 1px solid blue;

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

/*          profile-section */
.profile-section {
    border: 1px solid red;

    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.large-profile-picture {
    background-color: purple;
    height: 70px;
    width: 70px;
}

.profile-section > p {
    background-color: aqua;
    grid-column-end: auto;
}

.greeting {
    font-size: 1rem;
}

.hero-profile-name {
    font-size: 1.25rem;
}

.username {
    font-style: italic;
}

/*          button-section */
.button-section {
    border: 1px solid red;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}

.button-section > button {
    min-width: 60px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    font-size: 0.8rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Side bar on left side of page */
.sidebar {
    background-color: gainsboro;
    grid-area: 1 / 1 / 3 / 2;
}

.sidebar-wrapper {
    height: 60%;
    padding: 10px;

    display: grid;
    gap: 50px;
}

.sidebar-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.sidebar-header > .dashboard-icon {
    height: 50px;
    width: 50px;
    border: 1px solid brown;
}

.sidebar-header > p {
    font-size: 1.25rem;
}

.main-links {
    display: grid;
    gap: 10px;
}

.main-links > .home-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.home-link > .home-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.home-link > p {
    font-size: 1rem;
}

.main-links > .profile-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.profile-link > .profile-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.main-links > .messages-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.messages-link > .messages-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.main-links > .history-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.history-link > .history-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.main-links > .tasks-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.tasks-link > .tasks-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.main-links > .communities-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.communities-link > .communities-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.utilities-links {
    display: grid;
    gap: 10px;
}

.settings-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.settings-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.support-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.support-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

.privacy-link {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.privacy-logo {
    height: 30px;
    width: 30px;
    border: 1px solid brown;
}

/* main content area with content cards */
.main-content {
    background-color: goldenrod;
    padding: 10px;

    grid-area: 2 / 2 / 3 / 3;
}

.main-content-grid {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px repeat(2, 1fr) 50px repeat(2, 1fr);
    gap: 10px;
}

.your-projects {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: left;
    align-self: center;
}

.announcements {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: left;
    align-self: center;
}

.article-1 {
    grid-area: 2 / 1 / 3 / 2;
}

.article-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.article-3 {
    grid-area: 2 / 3 / 4 / 4;
}

.article-4 {
    grid-area: 3 / 1 / 6 / 2;
}

.article-5 {
    grid-area: 3 / 2 / 6 / 3;
}

.article-6 {
    grid-area: 6 / 1 / 7 / 2;
}

.article-7 {
    grid-area: 6 / 2 / 7 / 3;
}

.article-8 {
    grid-area: 5 / 3 / 7 / 4;
}

.trending {
    grid-area: 4 / 3 / 5 / 4;
    justify-self: left;
    align-self: center;
}

.main-content-grid > p {
    font-size: 1.5rem;
}

.main-content-grid > article {
    min-height: 100px;
    min-width: 100px;
    background-color: aquamarine;
    border: 1px solid brown;
    font-size: 2rem;


    display: flex;
    justify-content: center;
    align-items: center;
}